<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd"> 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"  debug="true">
    <!-- APPENDERS -->

    <appender name="CONSOLE"
        class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{ISO8601} %-5p [%t] %c.%M[%L]:  %m%n" />
                      <!-- "%d{ISO8601} [%t] %-5p %c[%L].%M:  %m%n" -->
                      <!-- "%d{ISO8601} [%t] %-5p %l %m%n" -->
        </layout>
    </appender>
    <appender name="EVENT_FILE"
        class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd"/> 
        <param name="File"
            value="./logs/snork_event.log" />
        
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{ISO8601} %-5p [%t] %c.%M[%L]:  %m%n" />
        </layout>
    </appender>

    <root>
        <priority value="debug" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="EVENT_FILE" />
    </root>

</log4j:configuration>
